@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;  
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.category {
    margin-bottom: 30px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.order-link {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.product-image {
    height: 200px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
.card p {
    font-size: 20px;
    margin-bottom: 5px; /* Reduced line gap */
    color: #0582ca;
    line-height: 1.2; /* Adjust line height as needed */
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    line-height: 1.2; /* Adjust line height as needed */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
